<a href="https://colab.research.google.com/github/jahauppu/pythoncoding/blob/master/Sales_predict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import tensorflow as tf

In [0]:
import pandas as pd

In [0]:
train_df = pd.read_csv('pythoncoding/Advertising.csv')

In [0]:
train_df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [0]:
#create a dataframe with all training data except the target column
train_X1 = train_df.drop(columns=['sales'])

#check that the target variable has been removed
train_X1.head()

   Unnamed: 0     TV  radio  newspaper
0           1  230.1   37.8       69.2
1           2   44.5   39.3       45.1
2           3   17.2   45.9       69.3
3           4  151.5   41.3       58.5
4           5  180.8   10.8       58.4

In [0]:
#create a dataframe with only the target column
train_y1 = train_df[['sales']]

#view dataframe
train_y1.head()

   sales
0   22.1
1   10.4
2    9.3
3   18.5
4   12.9

In [0]:
print('Number of examples: ', train_X1.shape[0])
print('Number of features for each example: ', train_X1.shape[1])
print('Shape of actual prices data: ', train_y1.shape)

Number of examples:  200
Number of features for each example:  4
Shape of actual prices data:  (200, 1)

In [0]:
from keras.models import Sequential
from keras.layers import Dense
#Initialize Sequential Graph (model)
model = tf.keras.models.Sequential()

#Normalize input data
model.add(tf.keras.layers.BatchNormalization(input_shape=(4,)))

#Add Dense layer for prediction - Keras declares weights and bias automatically
model.add(tf.keras.layers.Dense(1))

#Compile the model - add Loss and Gradient Descent optimizer
model.compile(optimizer='sgd', loss='mse')

In [0]:
model.fit(train_X1, train_y1, epochs=5)

Epoch 1/5
200/200 [==============================] - 1s 3ms/sample - loss: 158.0954
Epoch 2/5
200/200 [==============================] - 0s 63us/sample - loss: 21.8749
Epoch 3/5
200/200 [==============================] - 0s 54us/sample - loss: 9.1965
Epoch 4/5
200/200 [==============================] - 0s 58us/sample - loss: 5.5391
Epoch 5/5
200/200 [==============================] - 0s 55us/sample - loss: 4.5991

In [0]:
pip install h5py

Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (2.8.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from h5py) (1.12.0)
Requirement already satisfied: numpy>=1.7 in /usr/local/lib/python3.6/dist-packages (from h5py) (1.16.4)

In [0]:
model.save('models/sales_advert_lr.h5')

OSError: ignored

In [0]:
input_data = [12,45,87,88]

In [0]:
import numpy as np
input_data = np.reshape(input_data,(1,4))

In [0]:
test_y_predictions = model.predict(input_data)
print(test_y_predictions[0][0])

47.05432